# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "dev", "homolog" ]
  pull_request:
    branches: [ "dev", "homolog" ]

jobs:
  build:
    runs-on: ubuntu-latest
    #strategy:
      #matrix:
        #node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/upload-artifact@v3
      with:
          name: workspace_artifacts
          path: ${{ github.workspace }}
      name: "Build images"
      run: docker-compose up -d
      
  tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3  
    - name: "Unit Test"
      run: docker-compose exec web npm test
